<div id="root">
    <div class="container" id="logo">
        
        <img src="http://epsassets.manchester.ac.uk/medialand/shared/images/logos/Logo_ManchesterEst1824.png" alt="The University of Manchester, established in 1824.">&nbsp;&nbsp;
        <a href="https://www.manchester.ac.uk">Copyright: ©<span>The University of Manchester</span></a> &nbsp;&nbsp;
    </div>
    <div class="container" id="contact">
        <div id="mail" style='display:inline'><i class="oi oi-envelope-closed">&nbsp;</i></div>
        <div style="display:inline"><a href="mailto:xiang.xiao@postgrad.manchester.ac.uk"><span>xiang.xiao@postgrad.manchester.ac.uk</span></a></div>
</div>