<div id="Header">
    <nav class="navbar navbar-expand-md navbar-dark" id="Navigation">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav" id="bar">
                <li class="nav-item active" id="home"><i class="oi oi-home"></i><a href="/webApp">Home</a></li>
                <li class="nav-item" id="cycle"><i class="oi oi-loop-circular"></i><a href="/result">Cycle</a></li>               
                <li class="nav-item" id="download"><i class="oi oi-cloud-download"></i><a class="disabled">FBA</a></li>
                <li class="nav-item" id="help"><i class="oi oi-question-mark"></i><a href="/help">Help</a></li>
            </ul>
        </div>
    </nav>
</div>

