#body span{
    font-weight:bold;
}
.btn{
    background-color:#e8ecef ;
    color:#495057;
    border-color:#ced4da !important;
    border-radius: 0 !important;
}
#keyword{
    margin-bottom:1rem;
}
p{
    text-align: justify;
    font-size: 1rem;
    font-family: serif;
    padding: 0 0.5rem;
}
#body ul{
    padding-left: 1%;
    padding-right: 1%;
}
#body li{
    list-style: none;
    border: 1px solid #dfdfdf;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    background-color: #f7f7f7;
    border-radius: 0.3rem;
}
#news-lis{
    margin-top:1rem;
}
.news-item{
    padding-left: 2%;
    padding-right: 1%;
    /* border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0; */
}
.news-body{
    border-top: 1px solid #dfdfdf;
    padding:0.5rem 0 !important;
    margin-bottom:1rem;
    margin-top: 0.5rem;
}
#body li .col-8{

    padding: 0.5rem;
}
#body li .col-4{
    text-align: right;
    padding-top: 0.5rem;
    padding-right: 1.5rem;
}
h6{
    margin: 0.4rem 0.5rem;
}
#page{
    margin-bottom:10rem;
}
#now{
    text-align: center;
}
#turn{
    text-align:right;
}
#page-ul{
    position:relative;
}
#page-ul ul{
    margin-top: 1rem;
    margin-bottom: 0;
    width: 30rem;
    display: block;
    margin:0 auto;
    position:relative;
}
.page-item{
    display:inline;
    border:0px white !important;
    background-color: white !important;
    padding:0 1rem !important;
}
#search-page{
    width:20%;
}
#go {
    color:white;
}
#summary .col-4{
    text-align: center;
}
.btn-sm{
    background-color: #007BFF;
    border: 0;
    border-radius: 0.2rem !important;
    color: #212529;
}
.modal-dialog{
    max-width:40% !important;
}
.modal-body{
    padding:0;
}
.modal-body img{
    width:100%;
    height:100%;
}
